
.bg-menu-app {
    background-color: #1badeb;
}

.slim-select {
    border: none;
    padding: 0;
    margin: 0;
}

div.tab-sub-actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.25rem;
    padding: 0.3rem;
}

div.tab-sub-actions a {
    background-color: white;
}
