<html>
    <head>
        <title>Error - {{ status_text }}</title>
    </head>
    <body>
        <h1>Error - {{ status_text }}</h1>
        <p>
            {{ status_code  }} {{ status_text }}
        </p>
        <p>
            Something is broken<br/>
            Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </p>
    </body>
</html>
